.popup{
    position: absolute;
    top:50%;
    transform: translateY(-50%) translateX(-50%);
    left:50%;
    z-index: 302;
    width: 90vw;
    height:90vh;
    opacity: 0;
    pointer-events: none;
    background: #f0f0f0;
    transition: opacity .5s;
}
.popup[data-type="room"]{
    width: 100vw;
    height:100vh;
    z-index: 200;
}

.popup__bg{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: #000 no-repeat center center;
    background-size: auto 100%;
    filter: blur(2px);
    z-index: 298;
}

.popup__close{
    width: 25px;
    position: absolute;
    height: 25px;
    right: 25px;
    top:25px;
    cursor: pointer;
    z-index: 304;
}
.popup__close svg{
    width: 100%;
    height:auto;
}
.popup__close svg *{
    fill:#ccc;
}
.popup__close:hover svg *{
    fill:#999;
}
.popup__content{
	padding:20px;
}
.overlay{
    background: #000;
    position: absolute;
    top:0px;
    bottom: 0px;
    left:0px;
    right:0px;
    z-index: 301;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: opacity .5s;
}
.popup.active{
    opacity: 1;
    pointer-events: auto;
}
.overlay.active{
    opacity: 0.7;
    pointer-events: auto;
}


.camera .popup__bg{
    background-image:url(/images/backs/camera.jpg);
}

.rack .popup__bg{
    background-image:url(/images/backs/rack.jpg);
}

.acs .popup__bg{
    background-image:url(/images/backs/acs.jpg);
}

.rack h4{
    text-align: center;
    color:#000;
    font-size: 24px;
}
.acs h4{
    text-align: center;
    color:#fff;
    font-size: 24px;
}

.camera h4{
    text-align: center;
    color:#000;
    font-size: 24px;
}
.camera iframe{
    margin: auto;
    display: block;
}
.camera .camera__content, .rack  .rack__content, .acs .acs__content{
    z-index: 299;
    position: relative;
}

