.room__content{
    padding: 10%;
}
.room__svg,.room__svg svg{
    width: 80vw;
    height: 60vh;
}


.room svg *{
    pointer-events: none;
}

.room #Rooms [id^=bg],
.room #Cameras *,
.room #Racks [id^=bg],
.room #ACS [id^=bg]{
    pointer-events: auto;
    cursor: pointer;
}
.room #Rooms > *:hover  [id^=bg],
.room #Cameras > *:hover *,#Cameras > *:hover,
.room #Racks > *:hover [id^=bg],
.room #ACS > *:hover [id^=bg]{
    fill:#ff0!important;
}